body{
  margin: 0;
}

.exemplo{
  width: 150px;
  height: 200px;
  border: 1px solid black;
  word-wrap: break-word; /* quebra as palavras longas, usamos em campos de comentário em que o usuário coloca uma palavra muito longa */
}